h1 {
    color: red;
    center:
}

p {
    color: rgba(81, 0, 128, 0.453);
}

div {
    background-color: blueviolet;
    color: rgb(0, 179, 255);
}

table {
    background-color: rgb(0, 255, 191);
}
body {
    font-family: 'Cairo', sans-serif;
}